<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/faviconUsuario/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/faviconUsuario/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/faviconUsuario/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/faviconUsuario/site.webmanifest" />
    <link rel="stylesheet" href="/css/site-all-defaults/defaults.css" />
    <title>Postgres: Uma nova era digital.</title>
  </head>
  <body class="bg-grey">
    <div class="container">
      <div class="row bg-dark p-4 border-left-grey">
        <div
          class="logo-all d-flex align-items-center justify-content-center col-2"
        >
          <div class="logo col">
            <img
              src="/img/logoSites/logo.png"
              alt="Logo do site"
              class="img-resp-logo"
            />
          </div>
        </div>
      </div>
      <div class="row bg-light p-5">
        <div class="card border-0 bg-light">
          <div class="card-header bg-light border-0">
            <div class="h2">Selecione uma das opções para listar:</div>
          </div>
            <div class="card-body bg-light border-0">
                <div class = "row">
                
                    <div class="col d-flex align-items-center justify-content-center flex-column">
                      
                        <a href = "/genero/list" class = "d-bloc  k text-decoration-none btn btn-primary mt-4 mb-4 w-50 fw-bold">Gênero</a>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center flex-column">
                     
                      <a href = "/ator/list" class = "d-bloc  k text-decoration-none btn btn-primary mt-4 mb-4 w-50 fw-bold">Filme</a>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center flex-column">
                      <a href = "/filme/list" class = "d-bloc  k text-decoration-none btn btn-primary mt-4 mb-4 w-50 fw-bold">Ator</a>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center flex-column">
                      <a href = "/logged/listAll" class = "d-bloc  k text-decoration-none btn btn-primary mt-4 mb-4 w-50 fw-bold">Listar</a>
                    </div>
                    
                  

                </div>
               
            </div>

          <div class="card-footer bg-light">
            <div class="card-subtitle">
              <small><i>Powered by bootstrap.</i></small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
